<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Quiz</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/addQuiz.css"/>
</head>
<body>
<div class="quiz-column add-quiz-col">
  <div class="column-header">Add quiz:</div>
  <div>
    <input type="text" id="quiz-name-input" placeholder="Name">
  </div>
  <div>
    <input type="text" id="quiz-content-input" placeholder="Content in JSON">
  </div>
  <div>
    <button id="add-quiz-btn">Add</button>
  </div>
  <div>
    <button id="go-back-btn">Go back</button>
  </div>
</div>
</body>
<script src="scripts/http.js"></script>
<script defer src="scripts/addQuiz.js"></script>
</html>
