<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Add Quiz</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/addQuiz.css"/>
</head>
<body>
<button id="go-back-btn">Go back</button>
<div class="content">
  <div class="header">
    <h1>Dodaj swój własny quiz!</h1>
    <p>Format pytania: <span id="question-format" class="small-text"><br>{<br>"id": number,<br>"statement": string,<br>"answer": number,<br>"penalty": number<br>}</span></p>
  </div>
  <div class="form">
    <div class="form-input">
      <label class="form-label" for="quiz-name-input">Nazwa quizu</label>
      <input id="quiz-name-input" class="input-area" name="quiz-name-input" type="text" placeholder="Nazwa">
    </div>
    <div class="form-input">
      <label class="form-label" for="quiz-questions-input">Pytania (w formacie tablicy pytań)</label>
      <textarea id="quiz-questions-input" class="input-area" name="quiz-questions-input" rows="20" cols="40" placeholder="Tablica pytań w formacie JSON"></textarea>
    </div>
    <button id="add-quiz-btn" class="form-button">Add</button>
  </div>
</div>
</body>
<script src="scripts/http.js"></script>
<script defer src="scripts/addQuiz.js"></script>
</html>
