<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Logowanie</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/login.css"/>
</head>
<body>

<div id="login-page">
  <div class="logo">
    <img src="/images/quiz.png">
  </div>
  <div class="container">
    <div id="introduction" class="title">
      Aby rozwiązywać quizy, musisz być zalogowany!
    </div>
    <div class="form">
        <form action="/login" method="post">
          <label>
            <input id="username-input" type="text" name="username" placeholder="Login">
          </label>
          <label>
            <input id="pwd-input" type="password" name="password" placeholder="Hasło">
          </label>
          <input id="login-btn" type="submit" value="Zaloguj">
        </form>
    </div>
  </div>
</div>
</body>
</html>
