<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Zmiana hasła</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/main.css"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/password.css"/>
</head>
<body>

<div id="password-change-page">
  <div class="container">
    <div id="info" class="title">
      Zmiana hasła
    </div>
    <div class="form">
      <div>
        <input type="password" id="current-password-input" placeholder="Current password">
      </div>
      <div>
        <input type="password" id="new-password-input" placeholder="New password">
      </div>
      <div>
        <input type="password" id="new-password-confirmation-input" placeholder="Confirm new password">
      </div>
      <div>
        <button id="change-password-btn">Submit</button>
      </div>
      <div>
        <button id="go-back-btn">Go back</button>
      </div>
    </div>
  </div>
</div>
</body>
<script src="scripts/http.js"></script>
<script defer src="scripts/password.js"></script>
</html>
