<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/quiz.css"/>
</head>
<body>

<!-- User Panel-->
<div class="users-column add-user-col">
  <div class="column-header">User Panel</div>
  <div>
    <button id="add-quiz-btn">Add quiz</button>
  </div>
  <div>
    <button id="change-pwd-btn">Change password</button>
  </div>
  <div>
    <button id="logout-btn">Logout</button>
  </div>
</div>

<div id="quiz-choice">
  <form action="/play" method="get">
    <label>
      Wybierz:
      <select id="quizzes-list-anchor" name="quizId" required></select>
      <button type="submit" id="start-btn">Rozpocznij quiz!</button>
    </label>
  </form>
</div>

</body>
<script src="scripts/http.js"></script>
<script src="scripts/quiz.js"></script>
</html>
