<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Scores</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/scores.css"/>
</head>
<body>

<!-- User Panel-->
<div class="users-column">
  <div class="column-header">User Panel</div>
  <div>
    <button id="go-back-btn">Go Back</button>
  </div>
</div>

<!-- Display Stats -->
<div class="users-column">
  <div class="column-header">Finished quizzes:</div>
  <div id="all-stats-anchor"></div>
</div>

</body>
<script src="scripts/http.js"></script>
<script src="scripts/scores.js"></script>
</html>
