<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/users.css"/>
</head>
<body>

<!-- User Panel-->
<div class="users-column add-user-col">
  <div class="column-header">User Panel</div>
  <div>
    <button id="add-quiz-btn">Add quiz</button>
  </div>
  <div>
    <button id="change-pwd-btn">Change password</button>
  </div>
  <div>
    <button id="logout-btn">Logout</button>
  </div>
</div>

<!-- Display Users -->
<div class="users-column">
  <div class="column-header">Users:</div>
  <div id="all-users-anchor"></div>
</div>

<!-- Display Quizzes -->
<div class="users-column">
  <div class="column-header">Quizzes:</div>
  <div id="all-quizzes-anchor"></div>
  <div>
    <button id="display-scores-btn">High scores</button>
  </div>
</div>

</body>
<script src="scripts/http.js"></script>
<script src="scripts/users.js"></script>
</html>
