body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .password-column {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

body .password-column .column-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}


/* Change Password Column */

body .change-password-col input {
  margin-bottom: 10px;
}

body .change-password-col #change-password-btn {
  margin-top: 2px;
  margin-bottom: 10px;
}

body .change-password-col #go-back-btn {
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 15px;
}
