body {
  padding: 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body .users-column {
  display: inline-block;
  margin-right: 2em;
  vertical-align: top;
}

body .users-column .column-header {
  padding-bottom: 5px;
  font-weight: 700;
  font-size: 1.2em;
}


/* Scores Display Column */

body .users-column .score-display-ele {
  padding-bottom: 10px;
}
